@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Croissant+One&display=swap');

h2 { 
    font-family: 'Croissant One', sans-serif;
    font-size: 45px;
    color: var(--blue);
}

h3 {
    font-family: 'Croissant One', sans-serif;
    font-size: 40px;
    color: var(--white);
}

h5 { 
    font-family: 'Croissant One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--blue);
    padding-left: 35px;
    padding-right: 35px;
}

p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    color: var(--blue);
    text-align: center;
    padding: 10px;
}

.p-white {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: var(--white);
    text-align: center;
}
