.card {
    width: 300px;
    padding: 16px;
    border: 1px solid rgb(91, 255, 178);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}