body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    margin: 0;
}

header {
    background-color: #2e8b57;
    padding: 1rem;
    color: white;
    border-radius: 10px;
}

main {
    padding: 1rem;
}

footer {
    background-color: #2e8b57;
    padding: 1rem;
    color: white;
    margin-top: auto;
    border-radius: 10px;
}