/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(231,223,138);
    background: radial-gradient(circle, rgba(231,223,138,1) 15%, rgba(155,255,254,0.9304971988795518) 85%);
}

.container {
    text-align: center;
}

#clock {
    font-size: 48px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-family: "Quicksand", sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(118, 202, 201, 0.93);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003d80;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
