@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  background-color: #2f2f2f; 
  color: #e0d7c3; 
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.container {
  text-align: center;
  max-width: 800px; 
  width: 100%;
}

h1 {
  color: #a52a2a; 
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
  gap: 10px; 
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #a52a2a; 
  border-radius: 5px;
  font-size: 16px;
  background-color: #3b3b3b; 
  color: #e0d7c3; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a52a2a; 
  color: rgb(40, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #8b0000; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #4b2e2e; 
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  font-size: 18px;
}

li button {
  background-color: #b8860b;
}

li button:hover {
  background-color: #8b5a2b; 
}


.filter-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.filter-container input {
  padding: 10px;
  border: 2px solid #a52a2a; 
  border-radius: 5px;
  font-size: 16px;
  background-color: #3b3b3b;
  color: #e0d7c3; 
  width: 80%; 
  max-width: 400px; 
}
